<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/nav :: nav}"></div>

<main>
  <h1>Profilul Meu</h1>
  <form th:action="@{/dashboard/update}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div>
      <label>Nume:</label>
      <input type="text" name="numeUser" th:value="${user.numeUser}" />
    </div>
    <div>
      <label>Email:</label>
      <input type="email" th:value="${user.email}" readonly />
    </div>

    <div th:if="${user instanceof T(com.project.demo.model.Candidat)}">
      <h3>Document CV (Stocat în DB)</h3>

      <div th:if="${user.cv == null}">
        <p>Nu ai încărcat un PDF.</p>
      </div>

      <div th:if="${user.cv != null}">
        <p>CV actual:
          <a th:href="@{/cv/download/{id}(id=${user.cv.idCv})}" target="_blank">
            Vezi PDF (din baza de date)
          </a>
        </p>
      </div>

      <label>Încarcă/Înlocuiește PDF:</label>
      <input type="file" name="cvFile" accept="application/pdf" />
    </div>
    <button type="submit" class="btn-submit">Salvează Modificările</button>
  </form>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
