<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:replace="~{fragments/head :: head}"></div>


<body>

<header>
<h1>Adauga Anunt</h1>
</header>

<div th:replace="~{fragments/nav :: nav}"></div>

<form th:action="@{/angajator/anunturi/adauga}" th:object="${anunt}" method="post">

    <label>Titlu:</label>
    <input type="text" th:field="*{titlu}" /><br/>

    <label>Descriere:</label>
    <textarea th:field="*{descriereJob}"></textarea><br/>

    <label>Salariu Min:</label>
    <input type="number" th:field="*{salariuMin}" /><br/>

    <label>Salariu Max:</label>
    <input type="number" th:field="*{salariuMax}" /><br/>

    <label>Timp de Lucru:</label>
    <input type="text" th:field="*{timpDeLucru}" /><br/>

    <label>Experienta Necesara:</label>
    <input type="text" th:field="*{timpExperientaNecesar}" /><br/>

    <label>Domeniu Job:</label>
    <input type="text" th:field="*{domeniuJob}" /><br/>

    <button type="submit" class="btn-submit">Salveaza</button>
</form>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>