<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Hiring Career Matching</title>
        <link rel="stylesheet" th:href="@{/css/desprecon.css}" />
        <link rel="stylesheet" th:href="@{/css/styleslogin.css}"/>
        <link rel="stylesheet" th:href="@{/css/job.css}"/>
        <link rel="stylesheet" th:href="@{/css/smile.css}"/>
</head>
</html>