<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:replace="~{fragments/head :: head}"></div>


<body>

<header>
    <h1>Lista Anunturi</h1>
</header>

<div th:replace="~{fragments/nav :: nav}"></div>



<main>
<!-- Butonul de adaugare doar pentru angajatori -->
<a sec:authorize="hasRole('ANGAJATOR')" href="angajator/anunturi/adauga" class="btn-submit" style="text-decoration:none; margin:2px">Adauga Anunt</a>
<!-- job-listing.html (fragment din pagina ta Thymeleaf) -->

<h2 sec:authorize="isAnonymous()">Logati-va pentru a putea aplica!</h2>
<div class="jobs-grid">
    <div class="job-card" th:each="anunt : ${anunturi}">

        <div class="job-card__header">
            <h3 class="job-card__title" th:text="${anunt.titlu}">Titlu Job</h3>
            <span class="job-card__domain" th:text="${anunt.domeniuJob}">Domeniu</span>
        </div>

        <p class="job-card__description" th:text="${anunt.descriereJob}">Descriere...</p>

        <div class="job-card__details">
            <div class="job-card__detail">
                <i class="ti ti-coin" aria-hidden="true"></i>
                <span>Salariu:</span>
                <strong>
                    <span th:text="${anunt.salariuMin}"></span> -
                    <span th:text="${anunt.salariuMax}"></span> RON
                </strong>
            </div>
            <div class="job-card__detail">
                <i class="ti ti-clock" aria-hidden="true"></i>
                <span>Program:</span>
                <strong th:text="${anunt.timpDeLucru}"></strong>
            </div>
            <div class="job-card__detail">
                <i class="ti ti-briefcase" aria-hidden="true"></i>
                <span>Experiență:</span>
                <strong th:text="${anunt.timpExperientaNecesar}"></strong>
            </div>
        </div>

        <div class="job-card__footer" sec:authorize="hasRole('CANDIDAT')">
             <span th:if="${anunturiAplicate.contains(anunt.id)}" style="font-size:bold; color:#8a1cb2">
            Ai aplicat deja
            </span>
            <form   th:unless="${anunturiAplicate.contains(anunt.id)}"
                    th:action="@{/candidat/aplica/{id}(id=${anunt.id})}" method="post">
                <button
                        type="submit"
                        class="btn-submit">
                    <i class="ti ti-send" aria-hidden="true"></i>
                    Aplică acum
                </button>
            </form>
        </div>

    </div>
</div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>


</body>
</html>