<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:replace="~{fragments/head :: head}"></div>


<body>

<header>
    <h1>Cautare Job</h1>
</header>

<div th:replace="~{fragments/nav :: nav}"></div>


<h1>Lista Anunturi</h1>

<!-- Butonul de adaugare doar pentru angajatori -->
<a sec:authorize="hasRole('ANGAJATOR')" href="/anunturi/adauga" class="btn-submit" style="text-decoration:none; margin:2px">Adauga Anunt</a>

<table id="hob-listing">
    <tr>
        <th>Titlu</th>
        <th>Domeniu</th>
        <th>Salariu Min</th>
        <th>Salariu Max</th>
        <th>Timp Lucru</th>
        <th>Experienta</th>
    </tr>
    <tr th:each="anunt : ${anunturi}">
        <td th:text="${anunt.titlu}"></td>
        <td th:text="${anunt.domeniuJob}"></td>
        <td th:text="${anunt.salariuMin}"></td>
        <td th:text="${anunt.salariuMax}"></td>
        <td th:text="${anunt.timpDeLucru}"></td>
        <td th:text="${anunt.timpExperientaNecesar}"></td>
        <td><a sec:authorize="hasRole('CANDIDAT')" href="" class="btn-submit" style="text-decoration:none; margin:2px">Aplica</a></td>

    </tr>
</table>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>