<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:replace="~{fragments/head :: head}"></div>


<body>
<header>
    <h1>Bine ati venit!</h1>
</header>

<div th:replace="~{fragments/nav :: nav}"></div>

<h2>Aici puteti gasi jobul mult dorit</h2>
<p>Doar dati click pe butoanele din meniu si inregistrati-va/logati-va pentru a incepe cautarea.</p>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>