<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<div th:replace="~{fragments/head :: head}"></div>

<body>
<header>
    <h1>Lista Companii</h1>
</header>

<div th:replace="~{fragments/nav :: nav}"></div>

<section class="companii-val">
    <h2>Companii-le care fac parte din programul nostru</h2>
    <ul>
        <li th:each="companie : ${companii}">

            <p>Nume companie: <span th:text=" ${companie.numeCompanie}" ></span></p>
            <p>Locație: <span th:text=" ${companie.locatie}"></span></p>
            <p>Domeniu: <span th:text=" ${companie.domeniu}" ></span></p>

        </li>
    </ul>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>