<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<div th:replace="~{fragments/head :: head}"></div>

<body>
<header>
    <h1>De unde ne puteti contacta</h1>
</header>

<div th:replace="~{fragments/nav :: nav}"></div>

<h2>Aici va lasam urmatoarele link-uri pentru a ne putea contacta.</h2>
<address>
    E-mail: <a href="mailto:omegaa986@gmail.com">Customer Suport</a>
    Telefon: <a href="+40773868113" class="stilizare-linkuri"> Customer Suport </a>
</address>


<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>